<%- include('header') %>
<div class="login-box">
    <a href="/">
      <h2>Login</h2>
    </a>
    <form action="/login" method="post">
      <div class="user-box"> <input type="text" name="id" required="">
        <label>Id</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <a href="/boards">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" value="Log in">
      </a>
    </form>
  </div>
<%- include('footer') %>